<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Web App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Welcome to Kitty Glifonea web</h1>
    <p>This is a trial basic Flask web application.</p>
    <button onclick="displayMessage()">Press here</button>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <img src="{{ url_for('static', filename='one-piece-nami-smiling-desktop-wallpaper-cover.jpg') }}" alt="Nami Image">
</body>
</html>
